<div>
    <app-title title="Home"></app-title>
    <br>
    <br>
    <br>
    
    <div class="container">
        <p>Você sabia que parte do seu IMPOSTO DE RENDA devido pode ser destinado as crianças e adolescentes de Santo André e os projetos sócio-educacionais da <b>Ação Cristã Comunitária
            do Brasil - Projeto Shalom</b>?</p>
        <p>De acordo a <b>Lei nº 8.069 de 13/07/90</b>(Estatuto da Criança e do Adolescente) e </p>
    </div>

    <!-- footer -->
'   <app-footer></app-footer>
</div>







